body {
    background-color: #eff0f3;
    padding-left: 0.2cm;
    padding-right: 0.2cm;
}

/* HEADER */
.header {
    flex: auto;
    width: 95%;
    height: 120px;
    border-radius: 5cm;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #ff8e3c, #fffffe);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    width: 95%;
    height: 90px;
    align-self: center;
    border-radius: 5cm;
    margin-top: 0.5cm;
    background: #ff7a52;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    font-size: 40px;
    color: #eff0f3;
    display: flex;
    position: relative;
    top: 39px;
    left: 62px;
}

h2 {
    left: 20px;
    font-size: 30px;
    color: #eff0f3;
    display: flex;
    position: relative;
}

p {
    padding: 1%;
    font-size: 20px;
    color: #eff0f3;
}
#pro{
    text-decoration: underline;
    font-weight:bold;
    color: black;
}
a:link {
    color:antiquewhite;
  }
.container-main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.col-2 {
    /* flex: 1; */
    width: 30%;
    margin-right: 10px;
}

.col-1 {
    flex: 1;
    margin-left: 20px;
}

.homeBox {
    display: flow-root;
    justify-content: space-between;
    margin-top: 0.5cm;
    width: 70%;
    height: auto;
    background: #e73c7e;
    opacity: 0.8;
    border-radius: 0.6cm;
}

.javaCont {
    display: flow-root;
    background: #ff8e3c;
    margin-top: 0.5cm;
    padding: 2%;
    opacity: 0.8;
    border-radius: 0.6cm;
    width: 90%;
    height: auto;
}


.collapsible {
    background-color: #f04d8c;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    height: 22%;
    margin-top: 0.2cm;
    margin-left: 0.2cm;
    margin-bottom: 0.4cm;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 0.6cm;
 
}

.active,
.collapsible:hover {
    background-color: #f04d8c;

}

.content {
    overflow: hidden;
    color: #eff0f3;
    display: none;
}
.content1 {
    overflow: hidden;
    color: #eff0f3;
    font-size: 20px;
}